/TextLocator/bin
/TextLocator/obj
/TextLocator/extern
/TextLocator/.vs
/packages
/.vs/TextLocator/v16/*.suo
/.vs
/KeywordService/bin
/KeywordService/Models
/KeywordService/obj
/RegularTool/.vs
/RegularTool/bin
/RegularTool/Models
/RegularTool/obj
/x64
/WhisperBridge/x64

*.gguf
