<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- log4net log4net.Config.Log4NetConfigurationSectionHandler || System.Configuration.IgnoreSectionHandler -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--Site log configuration section-->
  <log4net>
    <root>
		<!-- Logging levels (from lowest to highest): ALL | DEBUG | INFO | WARN | ERROR | FATAL | OFF -->
		<!-- For example, if the level is set to INFO, lower levels such as DEBUG will not be recorded -->
		<!-- If LEVEL is not specified, the default is DEBUG -->
		<level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="AppLogFileAppender" />
    </root>
	  <!-- Console Output -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-d [%-5p] [%-3t] %C.%M(%L) - %m%n" />
      </layout>
    </appender>
	  <!-- event Output -->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-d [%-5p] [%-3t] %C.%M(%L) - %m%n" />
      </layout>
    </appender>
	  <!-- Log file output -->
    <appender name="AppLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<!--file path-->
      <file value="logs\\app.log" />
      <!--Whether to append to the file, default is true, usually no need to set.-->
      <appendToFile value="true" />
      <!--Use minimal locking in multithreading.-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--The changing form is a date: at this time, the settings of MaxSizeRollBackups and maximumFileSize nodes are meaningless.-->
      <rollingStyle value="Date" />
      <!--The format of the date, changing to a new file for recording each day. If not set, it will only log for one day indefinitely; it needs to be set.-->
      <datePattern value=".yyyyMMdd" />
      <!--log format-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-d [%-5p] [%-3t] %C.%M(%L) - %m%n" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="JiebaConfigFileDir" value=".\Dict" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.40" newVersion="1.4.0.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.3.11" newVersion="1.3.3.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Tensors" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.Numerics" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
