<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<PublishProtocol>FileSystem</PublishProtocol>
		<Configuration>Release</Configuration>
		<TargetFramework>net8.0</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<SelfContained>true</SelfContained>
		<PublishSingleFile>true</PublishSingleFile>
		<IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
		<PublishTrimmed>false</PublishTrimmed>
		<PublishDir>$(MSBuildProjectDirectory)\bin\Release\net8.0\win-x64\publish-gpu\</PublishDir>
		<!-- 这一行很重要：把 UseCuda 打开，就会选择上面的 CUDA12 ItemGroup -->
		<MSBuildProperties>UseCuda=true</MSBuildProperties>
	</PropertyGroup>
</Project>
