<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<PublishProtocol>FileSystem</PublishProtocol>
		<Configuration>Release</Configuration>
		<TargetFramework>net8.0</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<SelfContained>true</SelfContained>
		<PublishSingleFile>true</PublishSingleFile>
		<IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
		<PublishTrimmed>false</PublishTrimmed>
		<PublishDir>$(MSBuildProjectDirectory)\bin\Release\net8.0\win-x64\publish-cpu\</PublishDir>
		<!-- 不设/或设为 false => 走 CPU ItemGroup -->
		<MSBuildProperties>UseCuda=false</MSBuildProperties>
	</PropertyGroup>
</Project>

